@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary: #0A84FF;
  --white: #D9D9D9;

  --container-background: #FFFFFF;
  --input-background: rgb(226 232 240);
  --text-opacity: #808080;
  --text: #000000;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --container-background: #151718;
    --input-background: rgb(29 31 32);
    --text-opacity: #5a5a5a;
    --text: #FFFFFF;
  }
} */

body {
  color: var(--text);
  background: var(--container-background);
}

* {
  font-family: "Poppins", sans-serif !important;

}