:root {
  --primary-color: #1e4147; /* Azul para destaque */
  --secondary-color: #fff9c4;
  --secondary-color-light: #ffca28; /* Amarelo para destaques secundários */
  --background-color: #111111; /* Fundo escuro */
  --text-color: #ffffff; /* Cor do texto principal */
  --subtext-color: #cccccc; /* Cor do texto secundário */
  --link-color: #1e4147; /* Cor dos links */
  --error-color: #ff6347;
  --white: #fff;
  --black: #000;
  --text-color-positive: #00cc99; /* Verde Claro */
  --text-color-negative: #ff9999; /* Vermelho Claro */
}

body {
  font-family: "Exo 2", sans-serif;
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #171317,
    #1f2029,
    #20303b,
    #1e4147
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--text-color);
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

#root {
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
}

/* template */
main {
  padding: 12px;
  overflow: hidden;
}
